*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.button {
    width: 80px;
}

.active {
    background-color: #4CAF50; /* verde ou qualquer cor que indique "ligado" */
    color: white;
}
