@charset "UTF-8";

body {
    background-color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: blue;
    background-color: aliceblue;
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}
