@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #45C4B0, #9AEBA3);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #13678A;
    text-align: center;
    text-shadow: 1px 1px 2px #3282a588;
}

h2 {
    color: #98EBA3;
}

p {
    text-align: justify;
}